@model BazaSmyczy.ViewModels.LeashViewModels.ShowImageViewModel

@using Microsoft.Extensions.Options;

@inject IOptions<BazaSmyczy.Core.Configs.BazaSmyczyOptions> options

<script src="~/js/removeModalData.js"></script>

<div id="modal-show-image">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>

    <div class="modal-body">
        <div id="img-container">
            <img src="~/@options.Value.UploadsPath/@Model.ImageName" />
        </div>
    </div>

</div>

<style>
    #img-container {
        width: auto;
        margin: 1vh auto;
    }

        #img-container img {
            max-width: 100%;
        }
</style>