@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p><strong>GitHub:</strong> <a href="https://github.com/Severius5">Severius5</a></p>

<address>
    <strong>Email:</strong> <a href="mailto:S.Pieniazek94@gmail.com">S.Pieniazek94@gmail.com</a>
</address>
