@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Activation e-mail sent.
        <a asp-controller="Home" asp-action="Index">Back to index</a>.
    </p>
</div>