@using Microsoft.AspNetCore.Hosting

@inject IHostingEnvironment env

@{
    ViewData["Title"] = "Admin Panel";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="text-right small">
    <p>Ver.: @ViewData["Version"]</p>
    <p>Environment: @env.EnvironmentName</p>
</div>
